extends ../components/base/layout

block variables
  - const title = "xyberpaws" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    +intro()
    +intro()
    +intro()
    section(id="help")
      h2 HELP
    +intro()
    +intro()
    +intro()
    section(id="about")
      h2 ABOUT
    +intro()
    +intro()
    +intro()
    section(id="cases")
      h2 CASES
    +intro()
    +intro()
    +intro()
    section(id="reviews")
      h2 REVIEWS
    +intro()
    +intro()
    +intro()
    section(id="whatwedo")
      h2 WHATWEDO
    +intro()
    +intro()
    +intro()
    section(id="contacts")
      h2 CONTACTS
    +intro()
    +intro()
    +intro()

block modals
