.btn {
  display: inline-flex;
  padding: 10px 20px;
  border: none;

  color: $color-default-white;

  background-color: $color-hollywood-cerise;

  cursor: pointer;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}
