.contact-us {
  overflow-x: hidden;

  &__wrapper {
    display: flex;
    justify-content: flex-end;

    padding: size(60px) size(40px);
    border-radius: size(10px);

    background-color: $color-default-white;

    @include vp-767 {
      flex-direction: column;
      align-items: flex-end;

      padding: size(60px) size(20px);
    }
  }

  &__container-image {
    position: relative;

    display: flex;
    justify-content: flex-end;

    width: size(768px);
    margin-right: size(30px);

    @include vp-767 {
      order: 2;

      margin-right: 0;
    }
  }

  &__image {
    width: size(786px);
    height: size(550px);

    @include vp-767 {
      position: relative;
      top: size(22px);

      width: size(434px);
      height: size(308px);
    }

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__text {
    position: absolute;
    top: size(231px);
    right: size(100px);
    z-index: 2;

    width: size(230px);
    margin: 0;

    @include vp-767 {
      top: 0;
      right: size(-25px);

      width: size(172px);
    }
  }

  &__content-form {
    flex-shrink: 0;

    width: size(615px);
    min-height: size(550px);

    @include vp-767 {
      width: 100%;
      margin-bottom: size(30px);
    }
  }

  .title {
    margin-bottom: size(40px);
  }

  &__fields-container {
    display: flex;
    flex-direction: column;
    gap: size(10px);

    margin-bottom: size(20px);
  }

  .contact-us__field-group {
    margin: 0;
    padding: 0;
    border: none;
  }

  .contact-us__field-group--wrapper {
    padding: size(20px);
    border-radius: size(5px);
    background-color: $color-white-smoke;
  }

  legend {
    float: left;

    margin: 0;
    margin-bottom: size(20px);
    padding: 0;

    font-family: $ff-roboto-mono;
    font-weight: 400;
    font-size: size(14px);
    line-height: size(19px);
    letter-spacing: -0.05em;
  }

  &__field-wrapper {
    clear: both;

    @media (min-width: 768px) {
      column-count: 2;
      column-gap: size(10px);
    }
  }

  .custom-toggle + .custom-toggle {
    margin-top: size(10px);
  }
}
