.custom-input,
.custom-textarea {
  position: relative;

  display: flex;

  width: 100%;

  label {
    display: flex;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 767px) {
      align-items: flex-start;
      flex-direction: column;
    }

    input,
    textarea {
      flex-grow: 1;

      min-height: size(61px);
      padding: size(20px);
      border: 1px solid $color-white-smoke;
      border-radius: size(5px);
      outline: none;

      transition: border $trans-default, background-color $trans-default;

      font-family: $ff-roboto-mono;
      font-weight: 400;
      font-size: size(14px);
      line-height: size(19px);
      letter-spacing: -0.05em;
      color: $color-navy-blue;

      background-color: $color-white-smoke;

      @media screen and (max-width: 767px) {
        max-width: unset;
        width: 100%;
      }

      &:hover {
        border: 1px solid $color-navy-blue;
        background-color: $color-default-white;
      }

      &:focus {
        border: 1px solid $color-sapphire;
        background-color: $color-default-white;
      }
    }

    textarea {
      min-height: size(120px);
    }
  }

  &__label {
    @media screen and (max-width: 767px) {
      margin: 0 0 18px 0;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border: 1px solid rgba($color-hollywood-cerise, 0.2);
      background-color: rgba($color-hollywood-cerise, 0.2);

      &:focus,
      &:hover {
        border: 1px solid $color-hollywood-cerise;
      }
    }
  }

  &.is-valid {
    input {
      border: 1px solid rgbs($color-harlequin, 0.2);
      background-color: rgba($color-harlequin, 0.2);

      &:focus,
      &:hover {
        border: 1px solid $color-harlequin;
      }
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
