.socials {
  display: flex;
  flex-wrap: wrap;
  gap: size(10px);

  margin: 0;
  padding-left: 0;

  list-style: none;

  &__link {
    display: flex;
  }

  &__item {
    transform: scale(0);

    transition: transform $trans-default;
  }
}

.is-open {
  .socials__item {
    transform: scale(1);
  }
}
