mixin logo()
  if(currentUrl === "index.html")
    //-.logo
    a.logo(href="index.html#hero", aria-label="Переход на главную", data-trigger="")
      +icon("logo", 104, 60)
      span.visually-hidden Logo
  else
    a.logo(href="index.html", aria-label="Переход на главную")
      +icon("logo", 104, 60)
      span.visually-hidden Logo
