mixin title-double-rotation(title)
  .title-double-rotation&attributes(attributes)
      .title-double-rotation__container
        h2.title.title--rotation=title
      .title-double-rotation__container.title-double-rotation__container--background
        p.title.title--rotation=title
