mixin footer(footerMods)
  -
    const footerLinks = [
      {
        href: "#",
        text: "©2023 Xyperpaws"
      },
      {
        href: "#",
        text: "Terms & Conditions"
      },
      {
        href: "#",
        text: "Design INSAIM"
      },
    ]
  footer.footer(class=footerMods)
    .container
      .footer__info
        +logo()
      +socials()
      ul.footer__nav-list
        each link in footerLinks
          li.footer__nav-item
            a(href=link.href).footer__nav-link=link.text
