mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html#help",
        text: "We can help"
      },
      {
        href: "index.html#about",
        text: "Who we are"
      },
      {
        href: "index.html#cases",
        text: "Case Study"
      },
      {
        href: "index.html#reviews",
        text: "Reviews"
      },
      {
        href: "index.html#whatwedo",
        text: "What we can do"
      },
      {
        href: "index.html#contacts",
        text: "Contacts"
      },
    ]

  header.header.header--sticky.header--white-smoke(class=headerMods, data-fix-block, data-header="sticky")
    .container
      +logo()
      nav.header__nav
        ul.header__list
          each link, index in headerLinks
            li(class = `header__item header__item--${index}`)
              a.header__link(href=link.href, data-trigger)= link.text
        +socials()
      button.header__burger(type="button", data-burger, aria-label="Переключатель отображения меню", aria-pressed="false")

